*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
.main{
    background: #101820FF;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    top: 20px;
    z-index: 999;
    z-index: 1;
}
.main ul{
    position: fixed;
    display: flex;
    list-style: none;
    margin:0 500px;
    cursor: pointer;
}
.main li a{
    color: white;
    text-decoration: none;
    list-style: none;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    padding: 0 35px;
    cursor: pointer;
    transition: all 200ms;
}
ul li a:hover{
    color: #ffff00;
    transform: all 0.4s ease;
}
.content h1{
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #FFE000;
    position: absolute;
    text-align: center;
    font-size: 14px;
    min-width: 700px;
    top: 26px;
    right: 65%;
    font-weight: bold;
    display: inline-block;
}
.pic img{
    position: absolute;
    width: 29px;
    height: 24px;
    margin-top: -11px;
    right: 96%;
}
.main_btn {
    align-items: center;
    display: flex;
    top: 25px;
    padding: 0 8px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-size: 200px 50px;
}
.main_btn b{
    font-size: 11px;
}
.sched{
    position: absolute;
    width: 200px;
    left: 5%;
    top: 11%; 
}
.add-module{
    padding: 0 20px;
    position: absolute;
    border-radius: 16px;
    border-bottom: 2px solid silver;
    height: 550px;
    color: white;
    background: #101820FF;
    max-width: 900px;
    width: 380px;
}
.add-module h1{
    font-size: 20px;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 70px;
}
.input-group label{
    margin-top: 8px;
    font-size: 13px;
}
.form-select{
    font-size: 13px;
    margin-top: 8px;
}
.form-select option{
    margin-bottom: 8px;
    font-size: 13px;
}
.time-select h2{
    font-size:  17px;
}
input{
    font-size: 14px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 0.5em;
    background: white;
    color: black;
}
input[type="time"]{
    font-size: 13px;
}
.form-check{
    display: inline-flex;
    font-size: 10px;
    margin-left: 50px;
    margin: 3px;
}
.form-check label{
    display: block;
    font-size: 12px;
    left: 200px;
}
input[type="checkbox"]{
    padding: 2px;
}
button[type="button"]{
    position: absolute;
    left: -10px;
    top: 130px;
    text-align: center;
    font-size: 12px;
}
.flex-center{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50px;
    outline: none;
    border: none;
    top: 405px;
    margin-left: 200px;
}
.flex-center button{
    text-align: center;
    font-size: 10px;
    margin-top: -35px;
}
.flex-center label{
    margin-top: 2px;
    font-size: 15px;

    top: 90px;
    color: white;
}
#box{
    margin-top: 10px;
    top: 200px;
    width: 40px;
    height: 20px;
    background-color: white;
}
.buttons{
    border: none;
    color: white;
    padding: 0px 2px;
    top: 20%;
    left: 16%;
    text-decoration: none;
    display: inline-block;
    font-size: 70px;
    margin: 3px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    background: #E2E2E2;
    position: absolute;
    border-radius: 30px;
    width: 500px;
    height: 800px;
}
table{
    position: relative;
    font-size: 15px;
    top: 278px;
    left: 80%;
    background: #D3D3D3;
}
.relative {
    position: relative;
}
input, textarea {
    border-radius: 0;
    font-family: arial;
    font-size: 13px;
}
.box_header::after {
    background: #42b3e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    margin-top: 10px;
    width: 50px;
}
.box_header.no_border::after {
    display: none;
}
.box_header.margin {
    margin-top: 27px;
}
.info {
    padding: 25px 0 28px;
}
.timetable{
    color: #666;
    font-size: 12px;
    width: 300px;
    top: 2px;
    left: 500px;
}
h3{
    position: relative;
    color: black;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    top: 60px;
    left: 480px;
}
.timetable th {
    padding: 10px 15px 12px;
    width: 12.5%;
}
.timetable .event_container {
    padding: 10px 15px 12px;
}
.timetable td {
    height: 31px;
    vertical-align: top;
    width: 15%;
    color: black;
    align-items: center;
}
.timetable .event {
    background-color: #3156a3;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #fff;
    line-height: 150%;
}
.timetable .row_gray {
    background-color: #f0f0f0;
}
.timetable .white {
    background-color: gray;
}
.btn-primary{
    font-size: 9px;
}
.action{
    display: flex;
    position: absolute;
    font-size: 9px;
    left: 500px;
    top: 500px;
}
button[type="btn"]{
    font-size: 12px;
    margin: 3px;
}
#main-footer{
    color: white;
    position: fixed;
    top: 630px;
    padding: 13px;
    font-size: 12px;
    background: #101820FF;
    height: 90px;
    width: 100%;
}
.links{
    position: fixed;
    right: 40px;
    bottom: 0px;
    float: right;
    letter-spacing: 6px;
    cursor: pointer;
    padding: 9px;
    z-index: 1;
    z-index: 999;
    height: auto;
}
.links i{
    text-decoration: none;
}
.links i:hover{
    color: #ffff00;
    transform: all 0.4s ease;
}